#tumo{
    display: block;
    background: red;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}

#clean{
    display: block;
    background: blue;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}


#garun{
    display: block;
    background: yellow;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}

#amar{
    display: block;
    background: black;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}

#ashun{
    display: block;
    background: pink;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}

#dzmer{
    display: block;
    background: green;
    width: 100px;
    height: 30px;
    color:white;
    border: none;
    cursor: pointer;
}